<app-navbar></app-navbar>


<div class="dashboard-container">
  <div class="welcome-section text-center">
    <h1 class="welcome-title">Welcome to Your Dashboard</h1>
    <p class="welcome-message">Explore our products, manage your orders, and more.</p>
  </div>

  <div class="image-gallery">
    <img src="assets/images/home.png" alt="Welcome Image 1" class="gallery-image">
    <img src="assets/images/home1.jpg" alt="Welcome Image 2" class="gallery-image">
    <img src="assets/images/logo.png" alt="Welcome Image 3" class="gallery-image">
  </div>
</div>
